%li.task{:id => "task_#{task.id || 'new'}", :class => "#{task.state} #{current_user == task.assigned ? 'assigned' : 'other'}"}
  %div.fade
  - form_for task, :builder => CustomFormBuilder, :edit => @field, :html => {:class => 'ajaxForm'} do |f|
    %ul.title
      %li.handle{:title => 'drag to reorder'}
      %li.info{:title => 'click to see more'}
      %li{:class => task.category, :title => task.category}
        = link_to '', task_path(task, 'task[category]' => true), :class => :put
      %li.action
        = task_submit_button(f, task)
      %li.story= render :partial => 'stories/story', :object => task.story, :locals => {:task => task}
      = f.text :name, :hint => "what's this about?"
      - if task.assigned?
        %li.assigned_initials{:title => task.assigned.name}
          (#{link_to task.assigned.initials, user_tasks_path(task.assigned)})

    %ul.description{:class => ['assigned_id', 'story_id'].include?(@field) ? 'active' : nil}
      - if !%w(invalid verified).include?(task.state)
        %li.action
          = link_to 'invalidate', task_path(task, :state => :invalid), :class => 'put mark_invalid', :title => 'mark this task as invalid'
      = f.label :author_id, :prefix => 'by '
      = f.select :assigned_id, :collection => @developers, :prefix => 'assigned to ', :prompt => 'unassign', :nil => '(no one)'
      = f.label :verifier, :prefix => 'verified by '
      - if task.completed_on
        %li= "completed #{time_ago(task.completed_on)}"
      - elsif task.started_on
        %li= "started #{time_ago(task.started_on)}"

