%li.task{:id => "task_#{task.id || 'new'}", :class => task.category.try(:name)}
  - form_for task, :builder => CustomFormBuilder, :edit => @field, :html => {:class => 'ajaxForm'} do |f|
    %ul.title
      = f.label :id
      = f.label :author_id
      = f.select :assigned_id, :collection => @developers
      - if task.verified?
        %li= " verified by #{task.verifier.name}"

    %ul.actions
      %li= time_ago(task.completed_on) unless task.completed_on.nil?
      = f.check :bug, :collection => @categories
      = f.select :effort_id, :collection => @efforts
      %li= time_ago(task.started_on) unless task.started_on.nil?
      %li.action
        = link_to task.action, task_path(task, 'task[state]' => true), :class => :put
      = f.submit

    %ul.description
      = f.text :name

