%li.task{:id => "task_#{task.id || 'new'}", :class => "#{task.state} #{current_user == task.assigned ? 'assigned' : 'other'}"}
  - form_for task, :builder => CustomFormBuilder, :edit => @field, :html => {:class => 'ajaxForm'} do |f|
    %ul.title
      %li{:class => task.category}
        = link_to task.category, task_path(task, 'task[category]' => true), :class => :put
      = f.label :id, :prefix => '#'
      = f.text :name, :hint => "what's this about?"

    %ul.actions
      %li.action
        = f.submit(task.action)

    %ul.description
      = f.label :author_id, :prefix => 'by '
      = f.select :assigned_id, :collection => @developers, :prefix => 'assigned: ', :prompt => 'unassign', :nil => '(no one)'
      = f.label :verifier, :prefix => 'verified by '
      = f.label :started_on, :prefix => 'started ', :suffix => ' ago'
      = f.label :completed_on, :prefix => 'completed ', :suffix => ' ago'

