%li.task{:id => "task_#{task.id || 'new'}", :class => "#{task.state} #{current_user == task.assigned ? 'assigned' : 'other'}"}
  - form_for task, :builder => CustomFormBuilder, :edit => @field, :html => {:class => 'ajaxForm'} do |f|
    %ul.title
      %li{:class => task.category, :title => task.category}
        = link_to '', task_path(task, 'task[category]' => true), :class => :put
      %li.handle{:title => 'drag to reorder'}
      %li.info{:title => 'click to see more'}
      %li.action
        = f.submit(task.action, :id => "task_#{task.id}_submit")
      = f.text :name, :hint => "what's this about?"

    %ul.description{:class => @field == 'assigned_id' ? 'active' : nil}
      = f.label :author_id, :prefix => 'Author: '
      = f.select :assigned_id, :collection => @developers, :prefix => 'Assigned to: ', :prompt => 'unassign', :nil => '(no one)'
      = f.label :verifier, :prefix => 'Verified by '
      = f.label :started_on, :prefix => 'Started ', :suffix => ' ago'
      = f.label :completed_on, :prefix => 'Completed ', :suffix => ' ago'

