%li.task{:id => "task_#{task.id || 'new'}", :class => task.category.try(:name)}
  - form_for task, :builder => CustomFormBuilder, :edit => @field, :html => {:class => 'ajaxForm'} do |f|
    %ul.title
      = f.label :id
      = f.label :author_id
      = f.select :assigned_id, :collection => @developers

    %ul.actions
      = f.check :completed_on, :only => :when_complete, :value => task.completed_on
      = f.select :category_id, :collection => @categories
      = f.select :when_id, :collection => @whens
      = f.select :effort_id, :collection => @efforts
      = f.check :started_on, :value => task.started_on, :edit => false
      = f.select :related_id, :collection => relateds(task), :include_id => true
      %li.action
        = link_to task.action, task_path(task, 'task[state]' => true), :class => :put
      = f.submit

    %ul.description
      = f.text :name

