- if tasks.any?
  %ul.tasks
    %li.task.heading
      %h3= heading
      - tasks.each do |task|
        %li.task
          - form_for task, :builder => CustomFormBuilder do |f|
            %ul.info
              %li
                = f.check :completed_on, task, :show => :input, :label => false, :wrap => false
                = f.label :id, task, :wrap => false unless task.new_record?
                = f.text :name, task, :wrap => false
                = f.text :detail, task, :wrap => false
            %ul.actions
              = f.label :author, task unless task.new_record?
              = f.select :category, task, :collection => @categories
              = f.select :when, task, :collection => @whens
              = f.select :effort, task, :collection => @efforts
              = f.select :assigned, task, :collection => @developers
              = f.check :started_on, task
              = f.check :completed_on, task, :only => :when_complete
              = f.select :related, task, :collection => relateds(task)
              = f.submit task

