%ul.active_tasks
  %li.task.heading
    %h3= heading
    - tasks.each do |task|
      %li.task{:class => task.category.value.downcase}
        - form_for task do |t|
          %div.info
            = t.check_box :completed, :id => "task_completed_#{task.id}"
            %span.id== (#{sprintf('%05d', task.id)})
            %strong.name= task.name
            \-
            %span.detail= task.detail
          %ul.actions
            %li.by
              by
              = task.author.name
            %li.category= t.collection_select(:category, @categories, :id, :value)
            %li.when= t.collection_select(:when, @whens, :id, :value)
            %li.effort= t.collection_select(:effort, @efforts, :id, :value)
            %li.assigned= t.collection_select(:assigned_to_id, @developers, :id, :name, {:prompt => 'Assigned to:'}, {:id => "task_assigned_to_#{task.id}"})
            %li.started
              = t.check_box :started, :id => "task_started_#{task.id}"
              = t.label :started, 'Started?', :value => task.id
            %li.duplicate= t.collection_select(:duplicate, @active_tasks.reject{|t| t == task}, :id, :name, {:prompt => 'Duplicate of:'}, {:id => "task_duplicate_#{task.id}"})
    
%p