%ul#stats
  %li#velocity
    = label_tag 'velocity', 'Velocity:'
    = Release.velocity
    (features per week)
    %div#info
      Taken from Release
      = Release.last[0].finished_at.to_s rescue "(none)"

= render :partial => 'items',:locals => {:heading => current_tasks_heading, :id => 'now_tasks', :stories => @current_stories, :tasks => @current_tasks}

= render :partial => 'items', :locals => {:heading => future_tasks_heading, :id => 'later_tasks', :stories => @future_stories, :tasks => @future_tasks}

= render :partial => 'items', :locals => {:heading => 'Add a new task', :type => 'new_task', :id => 'new_tasks', :stories => [], :tasks => @new_tasks}

