%ul#stats
  %li#velocity
    = label_tag 'velocity', 'Velocity:'
    = Release.velocity
    (features per week)
    %div#info
      Taken from Release
      = Release.last[0].finished_at.to_s rescue "(none)"

%h3
  %span{:class => 'now_tasks'}
    = current_tasks_heading
  = render :partial => 'finish_button'
%div{:id => 'now_tasks'}
  = render :partial => 'tasks', :object => @current_tasks
  = render :partial => 'stories', :object => @current_stories

%h3
  %span{:class => 'later_tasks'}
    = future_tasks_heading
%div{:id => 'later_tasks'}
  = render :partial => 'stories', :object => @future_stories
  = render :partial => 'tasks', :object => @future_tasks

%h3
  %span{:class => 'new_tasks'}
    Add a new task
= render :partial => 'tasks', :object => @new_tasks

