= render :partial => 'tasks', :object => @new_tasks, :locals => {:heading => 'Add a new task'}, :type => 'new_task'
= render :partial => 'tasks', :object => @started_tasks, :locals => {:heading => 'Tasks currently being worked on', :type => 'current'}
= render :partial => 'tasks', :object => @now_tasks, :locals => {:heading => 'Tasks that need doing now', :type => 'now'}
= render :partial => 'tasks', :object => @soon_tasks, :locals => {:heading => 'Tasks that need doing next', :type => 'soon'}
= render :partial => 'tasks', :object => @later_tasks, :locals => {:heading => 'Tasks to do later', :type => 'later'}
= render :partial => 'tasks', :object => @completed_tasks, :locals => {:heading => 'Completed Tasks (last two weeks)', :type => 'completed'}

