%ul#stats
  %li#velocity
    = label_tag 'velocity', 'Velocity:'
    = Release.velocity
    (features per week)
    %div#info
      Taken from Release
      = Release.last[0].finished_at.to_s rescue "(none)"

= render :partial => 'stories', :object => @current_stories, :locals => {:heading => current_stories_heading, :id => 'now_tasks'}

= render :partial => 'tasks', :object => @future_tasks, :locals => {:heading => future_tasks_heading, :id => 'later_tasks'}

= render :partial => 'tasks', :object => @new_tasks, :locals => {:heading => 'Add a new task', :type => 'new_task', :id => 'new_tasks'}

