%ul#stats
  %li#velocity{:title => Release.velocity.round}
    = label_tag 'velocity', 'Velocity:'
    = display_velocity(Release.velocity)
    %div#info
      Taken from Release
      = Release.last[0].finished_at.to_s rescue "(none)"

%h3
  %span{:class => 'now_tasks'}
    = current_tasks_heading
  = render :partial => 'finish_button'
%div{:id => 'bugs'}
  = render :partial => 'tasks', :object => @bugs
%div{:id => 'stories'}
  = render :partial => 'stories', :object => @stories
%div{:id => 'future'}
  = render :partial => 'tasks', :object => @future_tasks

%h3
  %span{:class => 'new_tasks'}
    Add a new task
= render :partial => 'tasks', :object => @new_tasks
