%div#stats
  %div#velocity{:title => Release.velocity}
    Velocity: #{Release.velocity} (features per week)
    %span#info
      Taken from Release
      = Release.last.finished_at.to_s rescue "(none)"

%div#container
  %div#content
    %div.release
      %h2
        %span.now_tasks Current Release
        = render :partial => 'finish_button'
      %div= render :partial => 'tasks', :object => @tasks

  %div#groups
    = render :partial => 'stories/groups'

%div.new_task
  = render :partial => 'new_task'
  = render :partial => 'new_group'

