%div#stats
  %div#velocity
    Velocity: #{display_velocity(Release.velocity)}
    %span#info
      Taken from Release
      = Release.last.finished_at.to_s rescue "(none)"

%div#container
  %div#content
    %div.release
      %h2
        %span.now_tasks Current Release
        = render :partial => 'finish_button'
      %div= render :partial => 'tasks', :object => @tasks
    %div.release
      %h2
        %span.future_tasks Future Release
      %div= render :partial => 'tasks'

  %div#groups
    = render :partial => 'stories/groups'

%div.new_task
  = render :partial => 'new_task'
  = render :partial => 'new_group'

