- if @new_release
  == $.jGrowl("Finished Release!", { header: 'Please Refresh', sticky: true, glue: 'before' })
- if @any_updates || @created_tasks.any? || @assigned_tasks.any?
  == $('.only_one').remove()
  == $.jGrowl("Tasks added, reordered or assigned to you", { group: 'only_one', header: 'Please Refresh', sticky: true, glue: 'before' })


- @assigned_tasks.each do |task|
  == $.jGrowl("'#{escape_javascript(task.name)}' has been assigned to you", { header: 'Task Assignment', life: 30000 })

- @created_tasks.each do |task|
  == $.jGrowl("#{task.name}", { header: 'New task', life: 30000 })

- @updated_tasks.each do |task|
  - if task.updated_field != 'position'
    == $('#task_#{task.id}').replaceWith('#{escape_javascript(render(task))}')
    == $("#task_" + #{task.id}).droppableTask();

== $('.finished').replaceWith("#{escape_javascript(render :partial => 'finish_button')}")

