- if @moved
  == $('#task_#{@task.id}').slideUp("normal", function(){$(this).remove();})
  == #{render_hidden(@task)}.insertBefore($('.release_border')).slideDown()
- else
  == $('#task_#{@task.id}').replaceWith("#{escape_javascript(render(@task, :locals => {:field => @field}))}")
  == $('#task_#{@task.id}').effect("highlight", {}, 3000)

== $('.finished').replaceWith("#{escape_javascript(render :partial => 'finish_button')}")

== $('.release_border').remove();
== updateReleaseBorder(#{Release.velocity});

== $("#task_" + #{@task.id}).droppableTask();

