== $('.task_#{@task.id}').slideUp("normal", function(){$(this).remove();})
- if @task.completed?
  == #{render_hidden_task}.insertAfter($('.completed_tasks .heading')).slideDown()
- else
  - if @task.started?
    == #{render_hidden_task}.appendTo($('.tasks_currently_being_worked_on')).slideDown()
  - else
    == #{render_hidden_task}.appendTo($('#{do_when(@task.when.name)}')).slideDown()

