- if @moved
  == $('#task_#{@task.id}').slideUp("normal", function(){$(this).remove();})
  - if @task.has_story?
    == #{render_hidden(@task)}.appendTo($('#story_#{@task.story_id} ul.tasks')).slideDown()
  - else
    == #{render_hidden(@task)}.appendTo($('#now_tasks .tasks')).slideDown()
- else
  == $('#task_#{@task.id}').replaceWith("#{escape_javascript(render(@task, :locals => {:field => @field}))}")
  == $('#task_#{@task.id}').effect("highlight", {}, 3000)

- if @task.has_story?
  == $('#story_#{@task.story_id} > .title').replaceWith("#{escape_javascript(render :partial => 'stories/story_title', :locals => {:story => @task.story})}")

== $('.finished').replaceWith("#{escape_javascript(render :partial => 'finish_button')}")

== $('.release_border').remove();
== updateReleaseBorder(#{Release.velocity});

