== $('#task_#{@task.id}').slideUp("normal", function(){$(this).remove();})
- if @task.completed?
  == #{render_hidden_task}.insertAfter($('#completed .heading')).slideDown()
- else
  - if @task.started?
    == #{render_hidden_task}.appendTo($('#current')).slideDown()
  - else
    == #{render_hidden_task}.appendTo($('##{@task.when.name}')).slideDown()

