- if @task_moved
  == $('#task_#{@task.id}').slideUp("normal", function(){$(this).remove();})
  == #{render_hidden_task}.appendTo($('#now_tasks')).slideDown()
- else
  == $('#task_#{@task.id}').replaceWith("#{escape_javascript(render(@task, :locals => {:field => @field}))}")
  == $('#task_#{@task.id}').effect("highlight", {}, 3000)

== $('.finished').replaceWith("#{escape_javascript(render :partial => 'finish_button')}")

== $('.now_tasks').html("#{now_tasks_heading}")
== $('.later_tasks').html("#{future_tasks_heading}")

