%div.basic_box
  %h2 Create a new user

  - form_for @user do |f|
    %ol
      %li= f.error_messages
      %li= f.text_field :name, :title => 'Name'
      %li= f.text_field :email, :title => 'Email'
      %li= f.password_field :password, :title => 'Password'
      %li= f.password_field :password_confirmation, :title => 'Confirm Password'
      %li.unjustified
        = f.check_box :developer
        = f.label :developer
      %li.submit= f.submit "Create"

