%h2 New release #{@release.created_at.to_s}

%h3 New features:
- if @release.tasks.features.verified.any?
  %ul
    - @release.tasks.features.verified.each do |feature|
      %li= "[#{feature.story}] #{feature.name}"
- else
  No new features.

%h3 Bug fixes:
- if @release.tasks.bugs.verified.any?
  %ul
    - @release.tasks.bugs.verified.each do |bug|
      %li= "[#{bug.story}] #{bug.name}"
- else
  No bugs!

