%p
  = f.label :name
  %br
  = f.text_field :name

%p
  = f.label :description
  %br
  = f.text_area :description

%p
  = f.label :customers
  %br
  = f.text_field :customers

%p 
  = f.label :stakeholders
  %br
/  - @non_developers.each do |user|
/    [checkbox]
/    = user.name

%p
  = f.label :due_on
  %br
  = f.text_field :due_on

%p
  = f.label :soft_release_on
  %br
  = f.text_field :soft_release_on
