- @releases.each do |release|
  %h3
    %span
      = "Tasks released #{release.finished_at.to_s} - Velocity: #{release.velocity} (features per week)"
  - if release.stories.any?
    %div
      = render :partial => 'tasks/tasks', :object => release.tasks.bugs
    %div
      = render :partial => 'tasks/stories', :object => release.stories
    %div
      = render :partial => 'tasks/tasks', :object => release.tasks.without_story - release.tasks.bugs
  - else
    = render :partial => 'tasks/tasks', :object => release.tasks
    
