- @releases.each do |release|
  %h3
    %span
      = "Tasks released #{release.created_at.to_s} - Velocity: #{release.velocity}"
  %div#releases= render :partial => 'tasks/tasks', :object => release.tasks

= will_paginate @releases
