%h2 Login

%ol
  - form_for @user_session do |f|
    %li= f.error_messages
    %li
      = f.label :email
      = f.text_field :email

    %li
      = f.label :password
      = f.password_field :password

    %li
      = f.submit "Login"

