!!!strict
%html
  %head
    %title== Bustle - #{STRAPLINE}
    = stylesheet_link_tag 'application'
    = javascript_include_tag "lib/#{RAILS_ENV}/jquery", 'lib/jquery-ui.min', 'lib/jquery.delay', 'lib/jquery.hint', 'application'
  %body
    %div#header
      %h1
        = link_to :Bustle, root_path
        %sup= STRAPLINE
    %ul#session
      - if current_user
        %li= link_to 'Logout', user_session_path(current_user), :method => :delete
        %li= link_to 'Create User', new_user_path
      - else
        %li= link_to 'Login', new_user_session_path
    %div#messages
      %span.notice= flash[:notice]
      %span.error= flash[:error]
    = yield

