!!!strict
%html{'xmlns' => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'en'}
  %head
    %title== Velocity - #{STRAPLINE}
    = stylesheet_link_tag 'lib/jquery.jgrowl', 'application', 'basic_box', 'groups', 'header', 'menu', 'releases', 'tasks'
    = javascript_include_tag "lib/#{RAILS_ENV}/jquery", 'lib/jquery.delay', 'lib/jquery.hint', "lib/#{RAILS_ENV}/jquery.jgrowl"
    = javascript_include_tag (controller_name == 'releases' ? 'releases' : 'lib/jquery-ui.min', 'lib/application', 'application', 'groups', 'tasks')
  %body
    %div#header
      %h1= link_to '<span class="offscreen">Velocity</span>', tasks_path
      %ul#menu
        - if current_user
          %li= link_to_unless_current '<span>Tasks</span>', tasks_path
          %li= link_to_unless_current '<span>Releases</span>', releases_path
          %li= link_to_unless_current '<span>Users</span>', new_user_path
          %li= link_to_unless_current '<span>Logout</span>', user_session_path(current_user), :method => :delete
    %div#main
      = yield

