!!!strict
%html
  %head
    %title== Bustle - #{STRAPLINE}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'lib/jquery.min', 'lib/jquery-ui.min', 'lib/jquery.delay', 'lib/jquery.hint', 'application'
  %body
    %h1
      Bustle
      %sup= STRAPLINE
    = yield

