!!!strict
%html{'xmlns' => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'en'}
  %head
    %title== Velocity - #{STRAPLINE}
    = javascript_include_merged :lib
    = javascript_include_merged controller_name == 'releases' ? :releases : :base
    = stylesheet_link_merged :base, 'media' => 'all'
  %body
    %div#header
      %h1= link_to '<span class="offscreen">Velocity</span>', tasks_path
      %ul#menu
        - if current_user
          %li= link_to_unless_current '<span>Tasks</span>', tasks_path
          %li= link_to_unless_current '<span>Releases</span>', releases_path
          %li= link_to_unless_current '<span>Users</span>', new_user_path
          %li= link_to_unless_current '<span>Logout</span>', user_session_path(current_user), :method => :delete
    %div#main
      = yield

