!!!strict
%html{'xmlns' => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'en'}
  %head
    %title== Velocity - #{STRAPLINE}
    = stylesheet_link_tag 'lib/jquery.jgrowl', 'application', 'header', 'menu', 'basic_box', 'buttons', 'tasks', 'groups'
    = javascript_include_tag "lib/#{RAILS_ENV}/jquery", 'lib/jquery-ui.min', 'lib/jquery.delay', 'lib/jquery.hint', "lib/#{RAILS_ENV}/jquery.jgrowl", 'lib/application', 'application', 'groups'
  %body
    %div#header
      %h1= link_to '<span class="offscreen">Velocity</span>', root_path
      %ul#menu
        - if current_user
          %li= link_to 'Tasks', tasks_path, :class => 'current'
          %li= link_to 'Releases', releases_path
          %li= link_to 'Users', new_user_path
          %li= link_to 'Logout', user_session_path(current_user), :method => :delete
    %div#main
      = yield

